.navbar {
    width: 100vw;
    background-color: blue;
}
.navbarButtons {
display: flex;
}
.navbarTab {
    justify-content: space-evenly;
   width: 100%;
   background-color: blue;
   text-align: center;
}