body {
  background-color: #818181;
}
.App {
  background-color: #818181;
  color: #cc0000;
  max-width: 100%;
  overflow: none;
}

.subtext {
  color: #fafafa;
}
.maintitle {
  text-align: center;
  padding: -50;
}

/* main page items */
.mainpage {
  margin-left: 15%;
  margin-right: 15%;
}
.mainpagetitle {
  color: white;
  text-align: center;
  font-size: 8rem;
}

.mainpagesubtitle {
  color: white;
  text-align: center;
  font-size: 3rem;
}

/* end of main page */
