* {
  background-color: #818181;
  color: #cc0000;
  max-width: 100%;
  overflow: none;
  
}

.subtext{
 color: #fafafa
}
.maintitle {
  text-align: center;
}

/* main page items */ 
.mainpagetitle{
 color: white
}
.mainpageimage {
width: 60%;
height: 40%;
}
.mainpagesubtitle {
color: white;
}


/* end of main page */ 
