html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.divider {
  text-align: center;
}
.componentContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.componentContainer > .item {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 100px;
}

.item {

border: 1px solid #f76707;
}
.reviews {
  color: white;
}
.customerReview {
  text-align: center;
}
.showReviews {
  text-align: center;
font-size: 3vh;
}
.showReviews:hover {
  cursor: pointer;
}