/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-weight:bold
}
body::-webkit-scrollbar {
  display: none;
  

}
.hidden {
  display: none;
}
.showReviews {
  display: block;
}
.showReviews:hover {
  cursor: pointer;
}
.pointer:hover {
  cursor: pointer
}
.stayontop {
  z-index: 99 !important
}


