/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-weight:bold
}
body::-webkit-scrollbar {
  display: none;
  

}
.hidden {
  display: none;
}

.pointer:hover {
  cursor: pointer
}
.stayontop {
  z-index: 99 !important
}
// This just wouldnt work with tailwind 
.mapContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding-top: 156.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}